{% if categories|length > 0 %}
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
    {% for category in categories %}
             <a class="p-2 text-muted" href="{{ category.href }}"> {{ category.name }}</a> 
    {% endfor %}
    </nav>
  </div>
{% endif %}