/*
Template: Dustrix - Construction & Industry HTML Template
Author: Modina Theme
Author URI: https://themeforest.net/user/modinatheme
Description: Construction & Industry HTML Template
Version: 3.0
*/

// BASIC
@import 'basic';

// MIXIN
@import 'variables';

// TYPOGRAPHY
@import 'typography';

// MIX
@import 'mix';

// HELPER
@import 'helper';

// ICON FONTS
@import 'icon';

// ANIMATION
@import 'animation';

// Button 
@import 'btn';

// Colors 
@import 'colors';

// Preloader 
@import 'preloader';

/* ----------------------------------
    Template Section Styles
 ------------------------------------*/

// Menu - Header Section 
@import 'header';

// Hero Slide - Section 
@import 'hero';

// Section Title - Heading 
@import 'section';

// About - Section 
@import 'about';

// Features - Section 
@import 'features';

// services - Section 
@import 'services';

// testimonial - Section 
@import 'testimonial';

// Portfolio - Cases - Section 
@import 'project';

// Price Table - Section 
@import 'price';

// Call To Action - Section 
@import 'cta';

// Content Block - Section 
@import 'contentblock';

// team - Section 
@import 'team';

// funfact - Section 
@import 'funfact';

// Download - Section 
@import 'carousel';

// FAQ - Section 
@import 'faq';

// Blog - Section 
@import 'blog';

// Contact Us - Section 
@import 'contact';

// footer - Section 
@import 'footer';