



  <!-- Banner Start here -->
  <section class="banner banner-three">
    <div class="banner-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="banner-item slide-one swiper-slide">
          <div class="banner-overlay"></div>
          <div class="container">
            <div class="row">
              <div class="offset-lg-5 col-lg-6 col-xs-12">
                <div class="banner-content">
                  <h3>Welcome to KidsAcademy</h3>
                  <h2>Best For Education</h2>
                  <p>Monotonely principle centered ahitectures through and standards magnetic metrics whereas cross
                    functional products.</p>
                  <ul>
                    <li><a href="#" class="button-default">Read More</a></li>
                    <li><a href="#" class="button-default">Buy Now</a></li>
                  </ul>
                </div><!-- banner-content -->
              </div>
            </div>
          </div><!-- container -->
        </div><!-- slide item -->
        <div class="banner-item slide-two swiper-slide">
          <div class="banner-overlay"></div>
          <div class="container">
            <div class="row">
              <div class="offset-lg-5 col-lg-6 col-xs-12">
                <div class="banner-content">
                  <h3>Welcome to KidsAcademy</h3>
                  <h2>Best For Education</h2>
                  <p>Monotonely principle centered ahitectures through and standards magnetic metrics whereas cross
                    functional products.</p>
                  <ul>
                    <li><a href="#" class="button-default">Read More</a></li>
                    <li><a href="#" class="button-default">Buy Now</a></li>
                  </ul>
                </div><!-- banner-content -->
              </div>
            </div>
          </div><!-- container -->
        </div><!-- slide item -->
        <div class="banner-item slide-three swiper-slide">
          <div class="banner-overlay"></div>
          <div class="container">
            <div class="row">
              <div class="offset-lg-5 col-lg-6 col-xs-12">
                <div class="banner-content">
                  <h3>Welcome to KidsAcademy</h3>
                  <h2>Best For Education</h2>
                  <p>Monotonely principle centered ahitectures through and standards magnetic metrics whereas cross
                    functional products.</p>
                  <ul>
                    <li><a href="#" class="button-default">Read More</a></li>
                    <li><a href="#" class="button-default">Buy Now</a></li>
                  </ul>
                </div><!-- banner-content -->
              </div>
            </div>
          </div><!-- container -->
        </div><!-- slide item -->

      </div><!-- swiper-wrapper -->
      <div class="swiper-pagination"></div>
    </div><!-- swiper-container -->
  </section><!-- banner -->
  <!-- Banner End here -->


  





  


  

          </div><!-- swiper-wrapper -->
        </div><!-- swiper-container -->
      </div><!-- partner-items -->

    </div><!-- container -->
  </section><!-- teacher -->
  <!-- Teachers End here -->


  <!-- Gallery Start here -->
  <section class="gallery padding-120">
    <div class="container">
      <div class="section-header">
        <h3>Our School Gallery</h3>
        <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic
          strategic themeplatform.</p>
      </div>
      <ul class="gallery-menu">
        <li class="active" data-filter="*">Show all</li>
        <li data-filter=".branding">Class</li>
        <li data-filter=".development">Event</li>
        <li data-filter=".packing">Playing</li>
        <li data-filter=".photography">Art</li>
      </ul>

      <div class="gallery-items">
        <div class="gallery-item branding packing">
          <div class="gallery-image">
            <img src="images/gallery/gallery_11.jpg" alt="gallery image" class="img-responsive">
            <div class="gallery-overlay">
              <div class="bg"></div>
            </div>
            <div class="gallery-content">
              <a href="images/gallery/gallery_bg_05.jpg" data-rel="lightcase:myCollection"><i
                  class="icon flaticon-expand"></i></a>
              <h4>Product Name Here</h4>
              <span>By: KidsAcademy Theme</span>
            </div>
          </div>
        </div><!-- gallery item -->
        <div class="gallery-item development photography">
          <div class="gallery-image">
            <img src="images/gallery/gallery_12.jpg" alt="gallery image" class="img-responsive">
            <div class="gallery-overlay">
              <div class="bg"></div>
            </div>
            <div class="gallery-content">
              <a href="images/gallery/gallery_bg_02.jpg" data-rel="lightcase:myCollection"><i
                  class="icon flaticon-expand"></i></a>
              <h4>Product Name Here</h4>
              <span>By: KidsAcademy Theme</span>
            </div>
          </div>
        </div><!-- gallery item -->
        <div class="gallery-item branding packing">
          <div class="gallery-image">
            <img src="images/gallery/gallery_13.jpg" alt="gallery image" class="img-responsive">
            <div class="gallery-overlay">
              <div class="bg"></div>
            </div>
            <div class="gallery-content">
              <a href="images/gallery/gallery_bg_13.jpg" data-rel="lightcase:myCollection"><i
                  class="icon flaticon-expand"></i></a>
              <h4>Product Name Here</h4>
              <span>By: KidsAcademy Theme</span>
            </div>
          </div>
        </div><!-- gallery item -->
        <div class="gallery-item development photography">
          <div class="gallery-image">
            <img src="images/gallery/gallery_15.jpg" alt="gallery image" class="img-responsive">
            <div class="gallery-overlay">
              <div class="bg"></div>
            </div>
            <div class="gallery-content">
              <a href="images/gallery/gallery_bg_15.jpg" data-rel="lightcase:myCollection"><i
                  class="icon flaticon-expand"></i></a>
              <h4>Product Name Here</h4>
              <span>By: KidsAcademy Theme</span>
            </div>
          </div>
        </div><!-- gallery item -->
        <div class="gallery-item branding packing">
          <div class="gallery-image">
            <img src="images/gallery/gallery_14.jpg" alt="gallery image" class="img-responsive">
            <div class="gallery-overlay">
              <div class="bg"></div>
            </div>
            <div class="gallery-content">
              <a href="images/gallery/gallery_bg_14.jpg" data-rel="lightcase:myCollection"><i
                  class="icon flaticon-expand"></i></a>
              <h4>Product Name Here</h4>
              <span>By: KidsAcademy Theme</span>
            </div>
          </div>
        </div><!-- gallery item -->
        <div class="gallery-item branding packing">
          <div class="gallery-image">
            <img src="images/gallery/gallery_16.jpg" alt="gallery image" class="img-responsive">
            <div class="gallery-overlay">
              <div class="bg"></div>
            </div>
            <div class="gallery-content">
              <a href="images/gallery/gallery_bg_01.jpg" data-rel="lightcase:myCollection"><i
                  class="icon flaticon-expand"></i></a>
              <h4>Product Name Here</h4>
              <span>By: KidsAcademy Theme</span>
            </div>
          </div>
        </div><!-- gallery item -->
      </div><!-- gallery items -->
      <div class="gallery-button"><a href="gallery.html" class="button-default">View More Gallery</a></div>
    </div><!-- container -->
  </section><!-- gallery -->
  <!-- Gallery End here -->


  <!-- Testimonial Start here -->
  <section class="testimonial testimonial-three padding-120">
    <div class="container">
      <div class="section-header">
        <h3>What Parents Say</h3>
        <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic
          strategic themeplatform.</p>
      </div>
      <div class="testimonial-items">
        <div class="testimonial-slider-three swiper-container">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <div class="testimonial-image">
                <img src="images/testimonial/testimonial_01.jpg" alt="client image" class="img-responsive">
              </div>
              <div class="testimonial-details">
                <h4>Joly Smith </h4>
                <span>Designer</span>
                <i class="icon fa fa-quote-left" aria-hidden="true"></i>
                <p>Infrastructures tops nemethodologies Colaboratively seize scalable Colaboratively seze and an
                  scalable achannels before creative theme after and longterm high awesome and impact Professionally
                  predominate that awesome theme education timely </p>
              </div>
            </div><!-- testimonial-item -->
            <div class="testimonial-item swiper-slide">
              <div class="testimonial-image">
                <img src="images/testimonial/testimonial_02.jpg" alt="client image" class="img-responsive">
              </div>
              <div class="testimonial-details">
                <h4>Joly Smith </h4>
                <span>Designer</span>
                <i class="icon fa fa-quote-left" aria-hidden="true"></i>
                <p>Infrastructures tops nemethodologies Colaboratively seize scalable Colaboratively seze and an
                  scalable achannels before creative theme after and longterm high awesome and impact Professionally
                  predominate that awesome theme education timely </p>
              </div>
            </div><!-- testimonial-item -->
            <div class="testimonial-item swiper-slide">
              <div class="testimonial-image">
                <img src="images/testimonial/testimonial_03.jpg" alt="client image" class="img-responsive">
              </div>
              <div class="testimonial-details">
                <h4>Joly Smith </h4>
                <span>Designer</span>
                <i class="icon fa fa-quote-left" aria-hidden="true"></i>
                <p>Infrastructures tops nemethodologies Colaboratively seize scalable Colaboratively seze and an
                  scalable achannels before creative theme after and longterm high awesome and impact Professionally
                  predominate that awesome theme education timely </p>
              </div>
            </div><!-- testimonial-item -->

          </div><!-- swiper-wrapper -->
        </div><!-- swiper-container -->
      </div><!-- testimonial-items -->
    </div><!-- container -->
  </section><!-- testimonial -->
  <!-- Testimonial End here -->


  <!-- Event Start here -->
  <section class="event event-two padding-120">
    <div class="container">
      <div class="section-header">
        <h3>Don't Miss Our Event</h3>
        <p>Rapidiously expedite granular imperatives before economically sound web services. Credibly actualize pandemic
          strategic themeplatform.</p>
      </div>
      <div class="event-items">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="event-item">
              <div class="event-image">
                <img src="images/event/event_01.jpg" alt="event image" class="img-responsive">
                <div class="date">
                  <span>24</span>
                  <p>March</p>
                </div>
              </div>
              <div class="event-content">
                <h4>Imagination Classes</h4>
                <ul>
                  <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                  <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Newyork Road Newyork</li>
                </ul>
                <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme
                  education.</p>
                <a href="event.html" class="button-default">Join Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="event-item">
              <div class="event-image">
                <img src="images/event/event_02.jpg" alt="event image" class="img-responsive">
                <div class="date">
                  <span>24</span>
                  <p>March</p>
                </div>
              </div>
              <div class="event-content">
                <h4>Imagination Classes</h4>
                <ul>
                  <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                  <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Newyork Road Newyork</li>
                </ul>
                <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme
                  education.</p>
                <a href="event.html" class="button-default">Join Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="event-item">
              <div class="event-image">
                <img src="images/event/event_03.jpg" alt="event image" class="img-responsive">
                <div class="date">
                  <span>24</span>
                  <p>March</p>
                </div>
              </div>
              <div class="event-content">
                <h4>Imagination Classes</h4>
                <ul>
                  <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>08:00 am - 10:00 am</li>
                  <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Newyork Road Newyork</li>
                </ul>
                <p>Dratcaly novate fuly rarched an plication awesome theme education that plication creative theme
                  education.</p>
                <a href="event.html" class="button-default">Join Now</a>
              </div>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- event items -->
    </div><!-- container -->
  </section><!-- event blog -->
  <!-- event End here -->


  <!-- Subscribe Start here -->
  <section class="subscribe subscribe-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12">
          <h3>Join Our Newsletter</h3>
        </div>
        <div class="col-lg-7 col-xs-12">
          <form action="/">
            <input type="text" placeholder="Enter your e-mail here">
            <input type="submit" value="Subscribe Now">
          </form>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </section><!-- subscribe -->
  <!-- Subscribe End here -->


