<div class="card mb-3">
  <div class="card-header p-2">
    <i class="fas fa-calendar-alt"></i> {{ heading_title }} 
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
     {% if activities %}
	 {% for activity in activities %}
        <li class="list-group-item py-2"> <p class="p-0 m-0">{{ activity.comment }}</p>
        <span class="badge badge-link badge-pill"> <i class="fas fa-history"></i> {{ activity.date_added }}</span>
        </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item text-center"> {{ text_no_results }}</li>
      {% endif %}
    </ul>
  </div>
</div>
