<div class="card text-white bg-primary mb-3">
    <div class="card-header p-2">
        {{ heading_title }}
    </div>
    <div class="card-body">
        <div class="mb-2">
            <h6 class="card-subtitle"><i class="fas fa-plug fa-3x"></i></h6>
            <p class="card-text float-right">{{ total }}</p>
        </div>
        <a class="card-link text-white" href="{{ online }}">{{ text_view }}</a>
    </div>
</div>
